<header class="main-header"> 
  <div class="container">
    <h1 class="logo"><a href="/index.html"><img src="/imagens/logo.png" alt="Beatriz Rodrigues"></a></h1>
    <nav class="main-nav">
      <button class="menu-toggle" aria-label="Toggle navigation" data-lang-key="toggle_navigation"><i class="fas fa-bars"></i></button>
      <ul class="nav-links">
        <li><a href="/html/pt/index.html" data-lang-key="home">Início</a></li>
        <li><a href="/html/pt/apresentacoes.html" data-lang-key="presentations">Apresentações</a></li>
        <li><a href="/html/pt/designs.html" data-lang-key="designs">Designs</a></li>
        <li><a href="/html/pt/fotos.html" data-lang-key="photos">Fotografias</a></li>
        <li><a href="/html/pt/videos.html" data-lang-key="videos">Vídeos</a></li>
        <li><a href="/html/pt/sobre-mim.html" data-lang-key="about_me">Sobre Mim</a></li>
        <li><a href="/html/pt/contactos.html" data-lang-key="contact">Contactos</a></li>
      </ul>
      <!-- Language Switcher -->
      <div class="language-switcher">
        <a href="/html/pt/{{ page.fileSlug }}" class="lang-btn">PT</a>
        <a href="/html/en/{{ page.fileSlug }}" class="lang-btn">EN</a>
      </div>
    </nav>
  </div>
</header>
